.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login-header {
  background-color: #282c34;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nameInput {
  border-radius: 10px;
  height: 5vh;
  width: 15vw;
}

.buttonInput {
  background-color: #c34545;
  border-radius: 100px;
  color: white;
  border: transparent;
  width: 6vw;
  height: 6vh;
  margin-top: 10px;
}

.captureBall {
  background-color: white;
  display: flex;
  width: 20vw;
  height: 40vh;
  border-radius: 300px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

